/*********
*        *
*  PAGE  *
*        *
*********/
html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: auto;
    overflow-y: hidden;
}

/********
*       *
*  MAP  *
*       *
********/
#map {
    width: 100%;
    height: 100%;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
    display: flex;
}

.marker {
    display: block;
    border: none;
    /*border-radius: 50%;*/
    cursor: pointer;
    padding: 0;
    width:  50px;
    height: 50px;
    background-size: contain;
}

.info-button {
    position: absolute;
    top: 11px;
    left: 106px;
    cursor: pointer;
}

#version {
    position: absolute;
    right: 5px;
    bottom: 0px;
    color: #777;
    font-size: 10px;
}

/*******************
*                  *
*  LAYER SWITCHER  *
*                  *
*******************/
#layer-switcher {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 119px;
}

#layer-switcher .panel-heading {
    height: 20px;
    text-align: center;
    padding-top: 0px;
}

#layer-switcher .panel-body {
    padding: 0;
}

.layer-switcher-item {
    width: 100%;
    padding-bottom: 5px;
}

.layer-switcher-item .toggle {
    float: right;
}

#layer-switcher .fancytree-expander,
#layer-switcher .fancytree-checkbox {
    display: none;
}

#layer-switcher .fancytree-title {
    border: none;
    background: none !important;
    font-style: normal !important;
}

#layer-switcher .fancytree-has-children:not(.fancytree-partsel):not(.fancytree-selected) .fancytree-title {opacity: 0.25;}
#layer-switcher .fancytree-has-children.fancytree-partsel:not(.fancytree-selected) .fancytree-title {opacity: 0.55;}
#layer-switcher .fancytree-has-children.fancytree-partsel.fancytree-selected .fancytree-title {opacity: 1;}
#layer-switcher :not(.fancytree-has-children):not(.fancytree-selected) .fancytree-title {opacity: 0.25;}
#layer-switcher :not(.fancytree-has-children).fancytree-selected .fancytree-title {opacity: 1;}

/************
*           *
*  SHARING  *
*           *
************/
.share-map {
    position: absolute;
    top: 10px;
    right: 10px;
}

.sharing-instructions {
    font-style: italic;
    text-align: center;
}

.sharing-title, .sharing-author, .sharing-description {
    margin-top: 10px;
}

.map-title {
    background-image: url(../images/scroll-banner.png);
    position: absolute;
    top: 10px;
    left: calc(50% - 303px);
    width: 606px;
    height: 53px;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

/***************
*              *
*  WIKI POPUP  *
*              *
***************/
.mapboxgl-popup {
    height: 543px;
    width: 543px;
    z-index: 1000;
}

.mapboxgl-popup.popup-center {
    transform: initial !important;
    position: absolute;
    flex-direction: initial;
}

.mapboxgl-popup-content {
    height: 543px;
    width: 543px;
    background: transparent;
    background-image: url(../images/scroll.png);
    background-size: 100%;
    padding: 85px 25px;
}

.mapboxgl-popup-content .wiki-image {
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    padding-bottom: 10px;
}

.mapboxgl-popup-tip, .mapboxgl-popup-close-button {
    display: none;
}

.wiki-content-wrapper {
    height: 390px;
    overflow: hidden;
}

.wiki-desc {
    text-align: center;
    font-size: 20pt;
    line-height: 1.0;
    font-family: 'Bilbo Swash Caps', cursive;
}

/*********
*        *
*  MISC  *
*        *
*********/
.mapboxgl-ctrl-attrib {
    display: none !important;
}

.fancytree-container {
    border: none !important;
}

/***********
*          *
*  UNUSED  *
*          *
***********/
.stark {
    background-image: url(images/stark.png);
}

#info {
    /*display: block;*/
    display: none;
    position: absolute;
    top: 0;
    left: 35%;
    margin: 0px auto;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}