node_modules

# Aegor Rivers (Bittersteel)
# Brax
# Cleos Frey
# Crakehall
# Dondarrion
# Drumm
# Euron Greyjoy
# Falwell
# Farwynd of Sealskin Point
# Farwynd of the Lonely Light
# Gargalen
# Glover
# Hightower
# Jordayne
# Lancel Lannister
# Lannister
# Little Walder Frey
# Manwoody
# Penrose
# Piper
# Reyne
# Ryswell
# Santagar
# Stonehouse
# Toland
# Tyrion Lannister
# Velaryon
# Vikary
# Wydman
# Wyl
# Yronwood